/*
Author: Matt Pahuta
Date: 10/7/2023
*/
/* **************** */
/* Custom Variables */
/* **************** */
:root {
  /* 
  /* FONTS */
  --ff-primary: 'Nunito', Arial, Helvetica, sans-serif;
  /* FONT SIZES */
  --fs-300: 0.9125rem;
  --fs-400: 1rem;
  --fs-450: 1.125rem;
  --fs-500: 1.25rem;
  --fs-550: 1.5rem;
  --fs-600: 2rem;
  --fs-700: 2.125rem;
  --fs-800: 2.5rem;
  --fs-900: 3rem;
  /* Font Weights */
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  
  /* COLORS */
  /* Primary Colors */
  --clr-green: hsl(88, 27%, 44%);
  --clr-dark-green: hsl(145, 41%, 22%);
  --clr-light-blue: hsl(194, 29%, 46%);
  --clr-yellow: hsl(42, 100%, 66%);
  --clr-red: hsl(8, 55%, 39%);

  --box-shadow-green: hsla(145, 41%, 22%, 0.8);
  --box-shadow-yellow: hsla(42, 100%, 66%, 0.8);

  /* Neutral Colors */
  --clr-pure-white: hsl(0, 0%, 100%);
  --clr-soft-white: hsl(0, 0%, 98%);
  --clr-lightest-gray: hsl(228, 22%, 95%);
  --clr-silver: hsl(0, 0%, 80%);
  --clr-dark-gray: hsl(0, 0%, 31%);

  --clr-gunmetal: hsl(185, 14%, 17%);
  --clr-rich-black: hsl(218, 22%, 7%);
  --clr-pure-black: hsl(0, 0%, 0%);
  
  /* BORDER RADIUS */
  --br-extra-soft: 4px;
  --br-soft: 8px;
  --br-round: 50%;
}

@media (min-width: 38.75rem) {
  :root {
    --fs-400: 1.125rem;
    --fs-550: 1.75rem;
    --fs-600: 2.25rem;
    --fs-700: 2.5rem;
    --fs-800: 3rem;
    --fs-900: 3.75rem;
  }
}

@media (min-width: 60rem) {
  :root {
    --fs-450: 1.25rem;
    --fs-500: 1.5rem;
    --fs-550: 2rem;
    --fs-600: 2.5rem;
    --fs-700: 2.75rem;
    --fs-800: 3.25rem;
    --fs-900: 4rem;
  }
}

/* RESET */
/* Josh Comeau custom css reset */
/* https://www.joshwcomeau.com/css/custom-css-reset/ */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/* Base Styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--ff-primary);
  font-size: var(--fs-400);
  color: var(--clr-dark-gray);
}

.container {
  margin: 0 auto;
  max-width: 90rem;
}

a {
  transition: 220ms all ease-in-out;
}

.primary-navigation,
.home-results-list,
.explore-results-list,
.features-list,
.footer-nav {
  list-style: none;
  padding: 0;
}

.primary-navigation a,
.footer-nav a {
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  line-height: 1.2;
}

h4 {
  font-size: var(--fs-500);
  font-weight: var(--fw-500);
  color: var(--clr-rich-black);
}

/* Components and Utility Classes */
.no-scroll {
  overflow: hidden;
}

.sr-only {
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0,0,0,0) !important;
  white-space: nowrap !important;
  border: 0 !important;
} 

.overlay {
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6));
}

/* Button Styles */
button.button {
	border: none;
  padding: 0;
  background-color: transparent;
	cursor: pointer;
	transition: 200ms all ease-in-out;
}

@media screen and (-ms-high-contrast: active) {
  button.button {
    border: 2px solid currentcolor;
  }
}

button.button {
  display: inline-flex;
	align-items: center;
	justify-content: center;
  padding: 0.25em 1em;
  border-radius: var(--br-extra-soft);
  text-align: center;
  line-height: 1.1;
  text-transform: uppercase;
  min-width: 10ch;
  min-height: 44px;
  transition: 220ms all ease-in-out;
  background-color: transparent;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
  cursor: pointer;
}

button.btn-primary,
button.btn-search {
  background-color: var(--clr-green);
  color: var(--clr-pure-white);
}

button.btn-secondary {
  color: var(--clr-rich-black);
  border: 2px solid var(--clr-rich-black);
}

button.btn-primary:hover,
button.btn-primary:focus-visible,
button.btn-search:hover,
button.btn-search:focus-visible {
  background-color: var(--clr-dark-green);
}

button.btn-search:focus-visible {
  outline: none;
  border: 3px solid var(--clr-yellow);
}

button.btn-secondary:hover,
button.btn-secondary:focus-visible {
  color: var(--clr-pure-white);
  background: var(--clr-dark-green);
  border: none;
}

button.btn-primary:focus-visible,
button.btn-secondary:focus-visible {
  outline: 3px solid var(--clr-green);
  outline-offset: .25rem;
}

/* Header Styles */
.header {
  padding: 1.75em 1em;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.logo {
  max-width: 12rem;
}

/* Navigation */
.mobile-nav-toggle {
  display: none;
}

.primary-navigation {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.primary-navigation a,
.nav-button {
  font-size: var(--fs-500);
  font-weight: 500;
  text-transform: uppercase;
}

.primary-navigation a {
  color: var(--clr-rich-black);
  /* transition: 220ms all ease-in-out; */
}

.primary-navigation a:hover,
.primary-navigation a:focus-visible {
  color: var(--clr-green);
}

.primary-navigation a:focus-visible,
.footer-nav a:focus-visible {
  outline: 3px solid var(--clr-green);
  outline-offset: 3px;
}


@media (max-width: 52rem) {
  .mobile-nav-toggle {
    display: block;
    position: absolute;
    right: 1rem;
    top: 1.375rem;
    z-index: 999;
    border: 0;
    background: transparent;
    background-image: url(../assets/icon-hamburger.svg);
    background-repeat: no-repeat;
    background-position: center;
    aspect-ratio: 1;
    cursor: pointer;
    width: 2.1875rem;
    padding: 0.25em;
  }
  .primary-navigation {
    margin: 0;
    position: fixed;
    z-index: 1;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    inset: 0 0 0 30%;
    transform: translateX(100%);
    transition: transform 500ms ease-in-out;
    background-color: var(--clr-soft-white);
    padding: 4em 1.5em;
  }
  .primary-navigation[data-visible="true"] {
    transform: translateX(0);
  }
  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url(../assets/icon-close.svg);
  }
  .mobile-nav-toggle:focus-visible {
    outline: 3px solid white;
    outline-offset: 5px;
  }
}

/* Hero Section Styles */
.hero {
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../assets/header-alt-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-content-split {
  display: grid;
  gap: 4rem;
  padding: 4rem 1rem;
}

.hero-content {
  color: var(--clr-soft-white);
}

.hero-content h1 {
  margin-bottom: 1rem;
  max-width: 18ch;
  font-size: var(--fs-900);
  font-weight: var(--fw-400);
}

.hero-content h1 span {
  font-weight: var(--fw-600);
  color: var(--clr-yellow);
}

.hero-content p {
  font-size: var(--fs-450);
  max-width: 36ch;
}

/* Search Form */
.form-container {
  max-width: 550px;
}

.search-form {
  position: relative;
}

.icon-container {
  height: 100%;
  position: absolute;
  top: 0;
  left: 5px;
  display: grid;
  place-items: center;
}

.search-icon {
  max-width: 2rem;
}

.search-form input {
  width: 100%;
  padding: 1em 7.5em 1em 2.5em;
  line-height: 1;
  border: none;
  border-radius: var(--br-extra-soft);
  transition: 180ms box-shadow ease-in-out;
}

.search-form input:focus-visible {
  box-shadow: 0 0 0 4px var(--clr-yellow);
  outline: 4px solid var(--clr-yellow);
}

.btn-search {
  font-size: var(--fs-450);
  font-weight: var(--fw-500);
  height: 80%;
  position: absolute;
  top: 10%;
  right: 5px;
  aspect-ratio: 1;

}

@media (min-width: 60rem) {
  .hero {
    position: relative;
    display: grid;
    place-content: center;
    min-height: 50vh;
    background-image: url(../assets/header-alt-3.jpg);
  }
  .hero-overlay {
    position: absolute;
    width: 50%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6));
    background-position: 0 0;
  }
  .hero-content-split {
    padding: 0;
    grid-template-columns: 1fr 1fr;
    gap: 0;
  }
  .hero-content {
    padding: 9.25rem 1rem 9.25rem 2.75rem;
    z-index: 100;
  }
  .form-container {
    width: 90%;
    padding-bottom: 3.5em;
    display: flex;
    justify-self: center;
    flex-direction: column;
    justify-content: flex-end;
  }
}

/* Results Section */
.home-results-section,
.explore-results-section {
  padding: 3rem 1rem;
  display: grid;
  place-content: center;
}

.home-results-section h2,
.explore-results-section h2 {
  margin-bottom: 1.5rem;
  font-size: var(--fs-700);
  font-weight: var(--fw-600);
}

.home-result-item:not(:last-child) {
  margin-bottom: 3em;
}

.result-img-container {
  border-radius: var(--br-soft);
  overflow: hidden;
}

.result-image {
  width: 100%;
  max-width: 46.25rem;
  object-fit: cover;
  border-radius: var(--br-soft);

  transition: 750ms all ease-in-out;
}

.result-image:hover {
  transform: scale(1.2);
}

.result-content {
  padding: 2rem 1rem 0;
}

.result-content h3 {
  margin-bottom: 0.25rem;
  font-size: var(--fs-550);
  font-weight: var(--fw-600);
  color: var(--clr-rich-black);
}

.result-meta {
  margin-bottom: 1.25rem;
  font-size: var(--fs-500);
  color: var(--clr-rich-black);
}

.result-content p {
  max-width: 52ch;
}

.result-content button {
  margin-top: 1.5em;
}


/* Explore Page-specific Styles */
.explore-results {
  padding: 2.5em 1em;
}

.explore-results-wrapper {
  display: grid;
  justify-content: center;
  gap: 2em;
}

.explore-results-list {
  display: grid;
  place-items: center;
  gap: 2em;
}

.explore-title {
  font-size: var(--fs-600);
}

.explore-card {
  max-width: 600px;
  display: grid;
  gap: 1.5rem;
}

.card-image {
  border-radius: var(--br-soft);
  object-fit: cover;
}

.card-content h3 {
  margin-bottom: .25em;
  font-size: var(--fs-550);
}

.card-meta {
  margin-bottom: .75em;
  display: flex;
  align-items: center;

  font-size: var(--fs-500);
  color: var(--clr-gunmetal);
}

.card-meta .level {
  display: flex;
}

.card-meta .level::after {
  content: url('../assets/star-solid.svg');
  margin: 0 0.5rem;
  display: inline-flex;
}

.card-body {
  max-width: 48ch;
}


.hikes-map {
  max-width: 720px;
  max-height: 260px;
  width: 100%;
  object-fit: cover;
  border-radius: var(--br-soft);
}


@media (min-width: 42rem) {
  .results-container {
    padding-top: 2rem;
  }
  .hikes-map {
    max-height: 330px;
  }

  .explore-card {
    max-width: 45rem;
  }
  .explore-card:not(:last-child) {
    padding-bottom: 2em;
    border-bottom: 2px solid var(--clr-green);
  }
  .explore-card {
    grid-template-columns: repeat(auto-fit, minmax(min(26rem, 100%), 1fr));
    /* grid-template-columns: 60% 40%; */
  }
  .explore-card .result-img-container {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    place-self: start;
  }
}

@media (min-width: 60rem) {
  .home-results-section {
    place-content: stretch;
  }
  .home-result-item {
    display: flex;
    align-items: center;
    gap: clamp(2rem, 5vw, 6rem);
  }
  .result-content {
    padding: 0;
    margin-inline: auto;
  }
  .home-result-item:nth-of-type(2n) {
    justify-content: space-between;
  }
  .home-result-item:nth-of-type(2n) .result-img-container {
    order: 1;
  }
  .result-content p {
    max-width: 36ch;
  }
  .result-content {
    padding: 0;
  }
}


@media (min-width: 70rem) {
  .explore-results-wrapper {
    grid-template-columns: 600px 1fr;
    gap: 2.5em;
  }
  .explore-title {
    grid-column: span 2;
  }
  .explore-results-list {
    place-items: start;
    grid-column: 1 / 2;
  }
  .explore-card h3 {
    font-size: 2rem;
  }
  .explore-card {
    width: 100%;
    grid-template-columns: 1fr 180px;
    gap: 1.5rem;
  }
  .card-header {
    padding: 0;
    grid-column: 1 / 2;
  }
  .card-meta {
    font-size: 1.25rem;
  }
  .card-body {
    padding-right: 0;
    font-size: 1.25rem;
  }
  .hikes-map {
    max-width: 800px;
    max-height: 600px;
    grid-column: 2 /3;
  }
}

/* Features Section */
.features {
  background: var(--clr-soft-white);
  text-align: center;
}

.features-container {
  padding: 4rem 1rem;
}

.features-list {
  display: grid;
  gap: 3.5rem;
}

.feature-item {
  display: grid;
  place-items: center;
  gap: 1.75rem;
}

.feature-icon {
  width: 45px;
}

.features p {
  max-width: 42ch;
}

.feature-link {
  font-weight: var(--fw-600);
  text-decoration: none;
  color: var(--clr-green);
  transition: 180ms all ease-in-out;
}

.feature-link:hover {
  color: var(--clr-dark-green);
  text-decoration: underline;
}

/* Footer Styles */
.footer {
  background: var(--clr-rich-black);
  color: var(--clr-pure-white);
}

.footer-container {
  padding: 3.5em 1em; 
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.75rem;
}

.footer-nav {
  display: flex;
  text-transform: uppercase;
}

.footer-nav li:not(:first-of-type) {
  margin-left: 1.25rem;
}

.footer-nav a {
  color: var(--clr-pure-white);
  transition: 220ms all ease-in-out;
}

.footer-nav a:hover,
.footer-nav a:active {
  color: var(--clr-green);
}

.brand-container {
  text-align: center;
}

.copy {
  margin-top: 0.5rem;
  font-size: var(--fs-300);
  color: var(--clr-silver);
}

@media (min-width: 48rem) {
  .features-list {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }

  .footer-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-container nav {
    order: 1;
  }
}

@media (min-width: 60rem) {
  .feature-icon {
    width: 55px;
  }
}

/* Signup/Login form modals */
dialog {
  z-index: 100;
  width: 90%;
  max-width: 600px;
  margin: 5em auto 0 auto;
  padding: 50px;

  border: none;
  border-radius: var(--br-extra-soft);
  background-color: var(--clr-soft-white);
  color: var(--clr-rich-black);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}

dialog::backdrop {
  background-color: hsl(250, 100%, 50%, 0.25);
}

dialog h2 {
  text-align: center;
  margin-bottom: 1em;
  font-size: var(--fs-600);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.form-input-group {
  display: flex;
  flex-direction: column;
}

.modal-form label {
  margin-bottom: 0.5em;
  font-size: var(--fs-450);
}

.modal-form input {
  padding: 0.675em;
  border: none;
  border-radius: var(--br-extra-soft);
  margin-bottom: 1.25em;
  font-size: var(--fs-400);
  color: var(--clr-pure-black);
  background-color: #CBD0B9;
}

.modal-form input:last-of-type {
  margin-bottom: 2em;
}

.modal-form input:focus-visible {
  box-shadow: 0 0 0 4px var(--clr-green);
  outline: 4px solid var(--clr-green);

}

button.btn-auth {
  margin-bottom: 1.5em;
  border-radius: 999em;
}

.modal-form p {
  color: var(--clr-dark-gray);
}

.modal-form p:first-of-type {
  margin-bottom: 1em;
}

.modal-form .disclaimer {
  font-size: var(--fs-300);
}

.modal-form a {
  color: var(--clr-rich-black);
}

.modal-form a:hover,
.modal-form a:focus-visible {
  color: var(--clr-green);
}

.modal-form a:focus-visible {
  outline: 2px solid var(--clr-green);
}

button.btn-auth-secondary {
  background-color: var(--clr-soft-white);
  color: var(--clr-rich-black);
  text-transform: none; 
  box-shadow: none;
}

button.btn-auth-secondary:hover,
button.btn-auth-secondary:focus-visible {
  background-color: var(--clr-lightest-gray);
}