/*
Author: Matt Pahuta
https://www.mattpahuta.com
Date: 

COOLORS color palette link
https://coolors.co
*/

/* **************** */
/* Custom Variables */
/* **************** */
:root {
  /* 
  font-family: 'Poppins', sans-serif; */
  /* FONTS */
  --ff-primary: 'Poppins', Arial, Helvetica, sans-serif;
  /* FONT SIZES */
  --fs-300: 0.9125rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 2rem;
  

  /* COLORS */
  
  /* BORDER RADIUS */
  --br-soft: 1rem;
  --br-round: 50%;
  
  /*FONT SIZES*/
  --fs-xsml: 1rem;
  --fs-sml: 1.25rem;
  --fs-med: 1.5rem;
  --fs-lrg: 2.25rem;
  --fs-xlrg: 2.5rem;
  --fs-black: 5rem;
}

/* RESET */
/* Josh Comeau custom css reset */
/* https://www.joshwcomeau.com/css/custom-css-reset/ */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/* BASE STYLES */
body {
  font-family: Arial, Helvetica, sans-serif;
}